@import "../variables/variables";


p.poodles {

    color:red;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 18px;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
